{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Posts</title>
    <link rel="stylesheet" href="{% static 'blog/css/my_post.css' %}">
</head>

<body>

<div id="blog-posts-page">

    <!-- HEADER -->
    <div class="header">
        {% include 'blog/header.html' %}
    </div>

    <div class="page-layout">

        <!-- SIDEBAR -->
        <div class="sidebar">
            {% include 'blog/sidebar.html' %}
        </div>

        <!-- MAIN CONTENT -->
        <div class="main-content">

            <h1 style="color: black;  text-align: left; padding: 20px; margin: 20px; border-radius: 10px; font-family:cursive; font-size: 40px;">
    My Posts
</h1>

            <div class="posts-container">

                {% for post in post %}

                <div class="post-card">

                    {% if post.image %}
                    <div class="blogcard-thumbnail-wrapper">
                        <img class="blogcard-thumbnail" src="{{ post.image.url }}">
                    </div>
                    {% endif %}

                    <div class="post-info">

                        <h2>{{ post.title }}</h2>

                        <p>{{ post.content|truncatewords:20|safe }}</p>

                        <a href="{% url 'post_detail' post.id %}" class="read-more">
                            Read More
                        </a>

                    </div>

                </div>

                {% empty %}

                <p class="no-posts">You haven't written any posts yet.</p>

                {% endfor %}

            </div>

        </div>

    </div>

</div>

</body>
</html>